/* WooCommerce */

/* Checkout page layout fix */

.woocommerce-checkout .col-1, .woocommerce-checkout .col-2 {
    max-width: inherit;
}

/* Shop price colour  */

.woocommerce ul.products li.product .price{
  color: #333333 !important;
}

/* Add to cart button */

.woocommerce a.button{
  background-color: #333333 !important;
  color: white !important;
}

/* Other buttons */

.woocommerce button.button{
  background-color: #333333 !important;
  color: white !important;
}

// ============================================================================

// Social Media icons

.social-media-icons{
  font-size: 1.5em;
  display: inline-flex;
  list-style-type: none;
  letter-spacing: 0.5em;
}

// Footer nav

.menu-item{
display: inline-flex;
padding-right: 15px;
}

// Search bar

#archives-dropdown-3{
  font-size: 1em;
	font-family: 'Montserrat', sans-serif;
  width: 100%;
}

#cat{
  font-size: 1em;
	font-family: 'Montserrat', sans-serif;
  width: 100%;
}

#s{
  width: 100%;
}

#searchsubmit{
  color: white;
  background: $grey;
  border: none;
  border-radius: 5px;
  font-size: 1.250em;
	font-family: 'Lora', serif;
  margin-top: 8px;
  padding: 5px;
  width: 100%;
}
