.headerImage{
    width: 100vw;
    height: 70vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Shopping cart icon

.cart-contents:before {
    font-family:WooCommerce;
    content: "\e01d";
    font-size:2em;
    color: white;
    margin-top:10px;
    font-style:normal;
    font-weight:700;
    padding-right:5px;
    vertical-align: bottom;
}
.cart-contents:hover {
    text-decoration: none;
}
.cart-contents-count {
    color: #ffffff;
    background-color: $grey;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    font-family:'Montserrat', sans-serif;
    vertical-align: top;
}

.logo{
  font-size: 1.75em;
}
